[report]
omit=
  crawler/crawler/celery.py
  crawler/crawler/settings*
  crawler/crawler/constants.py
  crawler/crawler/*/admin.py
  crawler/crawler/*/admin/*
  crawler/crawler/*/migrations/*

exclude_lines =
    pragma: nocover
    def __repr__
    if debug:
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
