*.sqlite3
*.pyc
*.swp
*.swn
*.swm
*.swo
dump.rdb
Gemfile.lock
test-site-build/
test-site/.sass-cache
test-site/_site/
# collected static files.
crawler/media/
crawler/static/
.venv/
.env
celerybeat-schedule
